{% extends 'base.html.twig' %}

{% block title %}Genre index{% endblock %}

{% block body %}
    <img class="responsive-img" src="https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/video-game-genres1597871118726439.jpg">
    <h1>Index des genres</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.Name }}</td>
                <td>
                    <a href="{{ path('genre_show', {'id': genre.id}) }}"><span class="new badge pink darken-4" data-badge-caption="Voir"></span></a>
                    <a href="{{ path('genre_edit', {'id': genre.id}) }}"><span class="new badge pink darken-4" data-badge-caption="Modifier"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas d'entrées dans cette catégorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('genre_new') }}">
        <span class="new badge pink darken-4" data-badge-caption="Ajouter une nouvelle entrée"></span>
    </a>
{% endblock %}
