{% extends 'base.html.twig' %}

{% block title %}Mon site avec Symfony !!{% endblock %}

{% block body %}
    <img class="responsive-img" src="https://cdn.shopify.com/s/files/1/0548/8554/8183/articles/csgo-banner_422f4f67-7488-43b9-a03e-7cc3852afea3_2048x2048.png?v=1628166287">
    <div class="divider"></div>
    <div class="section">
        <h2>Bienvenue sur le site employés du magasin GgGaming</h2>
        <p>Ici vous pourrez, après vous être identifié, ajouter, modifier ou supprimer des entrées
            dans le catalogue de notre magasin, que ce soit des jeux, des développeurs, des genres
            ou des consoles. Sachez toutefois qu'un jeu doit obligatoirement être lié à un développeur,
            un genre et une console.
        </p>
        </div>
    <div class="divider"></div>
    <div class="section">
        <p>(De plus, nous possédons aussi un discord dédié au gaming, le serveur gggaming où vous
            serez éventuellement admis au rang de stagiaire après un test de recrutement infâme)
        </p>
    </div>
{% endblock %}
