{% extends 'base.html.twig' %}

{% block title %}New Console{% endblock %}

{% block body %}
    <img class="responsive-img" src="https://www.corexzone.com/app/uploads/2018/06/web-banner-xbx.jpg">
    <h1>Rajouter une nouvelle console</h1>

    {{ include('console/_form.html.twig') }}

    <a href="{{ path('console_index') }}"><span class="new badge pink darken-4" data-badge-caption="Retour à la liste"></span></a>
{% endblock %}
